<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" 
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" 
                type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="WeighingSettlementModelContainer"
         connectionString="metadata=res://*/DAL.WeighingSettlementModel.csdl|res://*/DAL.WeighingSettlementModel.ssdl|res://*/DAL.WeighingSettlementModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=scrapSettle;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="scrapSettlement.Properties.Settings.scrapSettleConnectionString"
      connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=scrapSettle;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="myConcetionForEF" connectionString="Data Source=192.168.10.66;Initial Catalog=scrapSettle;User ID=scrap;Password=ximai2016;Pooling=False;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>