<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="business" connectionString="f7eDavRqKzXNscJQ7XKStg4/cE7b+Ntyb51RytyXTc5njuOvEZ132bwOqkaVpUst9uTRdz9WrbG1fOjisd6iNUtcNrhnprcYw0SH+j4mFDBBenyx5DTLngcTU8cD5fAUZIbfKiPbuio="
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>